.card {
  border: 1px solid rgb(194, 194, 194);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.card .card-image{
  max-width: 80%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card .card-title{
  font-family: michroma;
  font-weight: bolder;
  margin: 0;
  color: rgb(56, 49, 37);
}
.card .card-text{
  font-family: michroma;
  color: rgba(56, 49, 37, 0.753);
}